*{
    font-family: arial, verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #222;
}
header, footer, div{
    width: 1000px;
    margin: 0px auto;    
}
header, footer{
    background-color: #8c1d40;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
#grid-container{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}
